body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    align-content: center;
}

.row{
    background-color: whitesmoke;
}

img{
   
}

.btn_login{
    border: none;
    outline: none;
    height: 50px;
    width: 25%;
    background-color: black;
    color: whitesmoke;
    border-radius: 4px;
    font-weight: bold;
}

.btn_login:hover{
    background-color: whitesmoke;
    border: 1px solid;
    color: black;
}